In [1]:
import pandas as pd
df = pd.read_csv('./adult.data.csv')
df.head()
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
race_count = df['race'].value_counts()

#NIP
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
#average age of men , not just age.
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean()
average_age_men

39.43354749885268

In [4]:
education_count = df['education'].value_counts()
education_total = education_count.sum()
bachelor_total = education_count.iloc[2]
#Calculate in % total of bachelors degrees
percentage_bachelors = ((bachelor_total / education_total) * 100).round(1)
percentage_bachelors

16.4

In [5]:
#Bachelors degree and salary > 50k
# df['salary'] = df['salary'].replace('[^0-9]', '', regex=True).astype(int)

advanced_education_count = df.loc[(df['education'] =='Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate') &
                           (df['salary'] >50)]
advanced_education = ((advanced_education_count.shape[0] / df.shape[0]) *100)
advanced_education

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df_age = df['age'] + df['education-num']
print(df_age)

In [6]:
#Bachelors degree and salary > 50k
# df['salary'] = df['salary'].replace('[^0-9]', '', regex=True).astype(int)

advanced_education_count = df.loc[(df['education'] !='Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
advanced_education_count
# advanced_education = ((advanced_education_count.shape[0] / df.shape[0]) *100)
# advanced_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K