In [1]:
import pandas as pd
df = pd.read_csv('./adult.data.csv')
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1)
average_age_men

39.4

In [4]:
education_count = df['education'].value_counts()
education_total = education_count.sum()
bachelor_total = education_count.iloc[2]
percentage_bachelors = ((bachelor_total / education_total) * 100).round(1)
percentage_bachelors

16.4

In [34]:
higher_count = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & ((df['salary'] == '>50K')), 'education'].value_counts().sum()
higher = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), 'education'].value_counts().sum()

higher_education_rich = round(higher_count/higher, 3) * 100
higher_education_rich

46.5

In [ ]:
#minimum hours worked
min_work_hours = df['hours-per-week'].min()
min_work_hours

In [46]:
#Top in occupation
topOccupation = df.loc[df['native-country'] == 'India', ['occupation']].value_counts().index[0]
top_IN_occupation = topOccupation[0]
top_IN_occupation

'Adm-clerical'