In [1]:
import pandas as pd
df = pd.read_csv('./adult.data.csv')
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1)
average_age_men

39.4

In [4]:
education_count = df['education'].value_counts()
education_total = education_count.sum()
bachelor_total = education_count.iloc[2]
percentage_bachelors = ((bachelor_total / education_total) * 100).round(1)
percentage_bachelors

16.4

In [5]:
higher_count = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & ((df['salary'] == '>50K')), 'education'].value_counts().sum()
higher = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), 'education'].value_counts().sum()

higher_education_rich = round(higher_count/higher, 3) * 100
higher_education_rich

46.5

In [6]:
lower_education_50 = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K'), ['education', 'salary']].value_counts().sum()
lower_education_total = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), ['education', 'salary']].value_counts().sum()

lower_education_rich = round(lower_education_50/lower_education_total, 3) * 100
lower_education_rich

17.4

In [13]:
# Minimum hours worked
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [12]:
# Minimum hours worked per week with salary > 50k
min_hours_greaterthan50k = df.loc[(df['hours-per-week'] == 1) &(df['salary'] == '>50K'),'hours-per-week'].sum()
min_hours_total = df.loc[(df['hours-per-week'] == 1) &((df['salary'] == '<=50K') |(df['salary'] == '>50K')), 'hours-per-week'].sum()

rich_percentage = (min_hours_greaterthan50k / min_hours_total *100).astype(int)
rich_percentage

10

In [123]:
#Highest earning country
countries_total = df['native-country'].value_counts()
salary_50 = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()

# Convert Series to DataFrames
countries_df = countries_total.to_frame()
salary_50_df = salary_50.to_frame()

# Combine DataFrames
combined_df = pd.concat([countries_df, salary_50_df], axis=1)
combined_df.columns = ['countries_total', 'salary_50k']
combined_df.sort_index()

# Turn countried in a column , and set index to numerical values
# combined_df.index.name = 'Countries'
# combined_df.reset_index(inplace=True)

countries_percent = round((( combined_df['salary_50k']/ combined_df['countries_total'])*100), 1).sort_values().idxmax()
countries_percent

'Iran'

In [133]:
#Highest earning country percente
salary_total = df['native-country'].value_counts()
salary_percente = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()
highest_earning_country_percentage = round((salary_percente/salary_total) * 100, 1).sort_values(ascending=False).values[0]
highest_earning_country_percentage

41.9

In [110]:
#Top in occupation
topOccupation = df.loc[df['native-country'] == 'India', ['occupation']].value_counts().index[0]
top_IN_occupation = topOccupation[0]
top_IN_occupation

'Prof-specialty'